<tr class="<%= cycle "odd", "even" -%>">
	<td class="first"><%= question_counter + 1 %></td>
	<td class="response"><%= truncate question.response, 40 %></td>
	<td><%= truncate question.course_topic.name, 40 %></td>
	<td class="error"><%= 'DUE' unless question.next_datetime.nil? or question.next_datetime > Time.now %></td>
	<td><%= relative_date question.next_datetime unless question.next_datetime.nil? %></td>
	<td><%= question.current_interval %></td>
	<td><%= link_to question.responses.size, question %></td>
</tr>
