<div id="header">
	<h1 class="top-left pad">
		<%= render :partial => 'global/course_links' %>
	</h1>
	<div class="top-right pad">
		<%= @course.questions.count  if @course %> / 
		<%= @course.subject.exercise_count  if @course %>
	</div>
</div>

<div id="main">

	<div class="row">
		<div class="bold cell half">Question</div>
		<div class="bold cell sixth right">Interval</div>
		<div class="bold cell sixth right">Next repetition</div>
		<div class="bold cell sixth right">Responses</div>
  </div>

	<% for question in @questions %>
	<div class="row">
    <div class="cell half"><%= question.exercise.response.length > 50 ? question.exercise.response.slice(0..50) + '...' : question.exercise.response %></div>
    <div class="cell sixth right"><%= question.current_interval %></div>
		<div class="cell sixth right"><%= formatted_date question.next_datetime %></div>
		<div class="cell sixth right"><%= link_to question.responses.count, question %></div>
  </div>
	<% end %>

</div>

<div id="footer">
	<div class="center pad">
		<%= will_paginate @questions %>
	</div>

	<div class="bottom-left">
		Logged in as: <%= current_user.login %>
	</div>
	<div class="bottom-right">
		<%= link_to "FAQ", "/about/faq" %> |
		<%= link_to "logout", "/logout"%>
	</div>
</div>