<div id="header">
	<h1 class="top-left pad">
		<%= link_to 'Courses', courses_path %>
		&raquo; <%= link_to @question.course.subject.name, course_questions_path(@question.course) %>
		&raquo; <%= link_to "Exercise: #{h @question.id}", :back %> 
		&raquo; Responses
	</h1>
	<h2 class="top-right pad">
		Next repetition: <%= short_date @question.next_datetime %>
	<h2>
</div>

<div id="main">
	<div class="row">
    <div class="bold cell quarter">Date</div>
    <div class="bold cell quarter right">Elapsed time</div>
		<div class="bold cell quarter right">Interval</div>
		<div class="bold cell quarter right">Result</div>
	</div>

	<% for response in @question.responses %>
		<div class="row">
			<div class="cell quarter">
				<%= formatted_date response.updated_at %>
			</div>
			<div class="cell quarter right">
				<%=h response.seconds_taken %>
			</div>
			<div class="cell quarter right">
				<%=h response.interval %>
			</div>
			<div class="cell quarter right">
				<%=h response.result %>
			</div>
		</div>	
	<% end %>

</div>

<div id="footer">
	<div class="bottom-left">
		Logged in as: <%= current_user.login %>
	</div>
	<div class="bottom-right">
		<%= render :partial => 'global/toplevel_links' %>
	</div>
</div>
