<div id="header">
	<h1 class="top-left pad">
		<%= link_to 'Home', '/' %>
		&raquo; Log in
	</h1>
</div>
<div id="main">

	<div class="signin">

		<div class="big-space"> </div>

		<% if session[:return_to] %>
			<div class="centre space">
				<% form_tag session[:return_to] do -%>
					<%= hidden_field_tag 'create_user' %>
					<%= submit_tag 'Continue without signing in' %>
				<% end -%>
			</div>
			<div class="bold centre space">OR</div>
		<% end %>

		<% form_tag session_path do -%>
		<label for="login">I already have a login</label>
		<%= text_field_tag 'uid', @uid, :autocomplete => "off" %>

		<label for="remember_me">Remember me</label>
		<%= check_box_tag 'remember_me', '1', @remember_me %>
		
		<div class="centre space"><%= submit_tag 'Log me in' %></div>
		
		<% end -%>
	</div>

</div>

<div id="footer">
	<%= render :partial => 'global/toplevel_links' %>
</div>