<div id="header">
	<h1 class="left">
		<%= link_to 'Courses', courses_path %> |
		<%= @course.subject.name %> |
		<%= link_to 'lessons', course_path(@course) %> &amp;
		intervals
	</h1>
	<br clear="all">
</div>
<div id="main">
	<table>
		<tr>
			<% form_for @course do |f| %>
			<th>Index</th>
			<th>Interval</th>
			<th>Success rate*</th>
			<td>
				TARGET: 
				<%= f.text_field :target %>
				%
			</td>
			<td>
				<%= f.submit "Change" %>
				<% end %>
			</td>
	  </tr>

	<% for interval in @intervals %>
		<% responses = @responses[interval.index_no] %>
	  <tr>
	    <td><%=h ordinal(interval.index_no) %></td>
	    <td><%= interval_time interval.minutes %></td>
			<td><%= success_rate(responses) %></td>
			<td><%= formatted_date interval.updated_at %></td>
			<% if interval.index_no > 1 and responses[:correct] > 10 %>
			<td>
				<% form_for interval do |f| %>
					<%= hidden_field_tag 'correct', responses[:correct] %>
					<%= hidden_field_tag 'incorrect', responses[:incorrect] %>
					<%= f.submit "Reset" %>
				<% end %>
			</td>
			<% end %>
	  </tr>
	<% end %>
	</table>
	<div>
		* since last reset
	</div>
</div>
