<div id="header">
	<h1 class="top-left pad">
		<%= render :partial => 'global/course_links' %>
	</h1>
	<div class="top-right pad">
		<%= @course.questions.count %> / 
		<%= @course.subject.exercise_count %>
	</div>
</div>

<div id="main">
		<div class="row">
			<div class="bold cell fifth">Revision</div>
			<div class="bold cell fifth right">Interval</div>
			<div class="bold cell fifth right">Accuracy *</div>
			<div class="bold cell fifth right">Last interval reset</div>
			<div class="bold cell fifth right">
				Target: 
				<%= @course.accuracy_target %>
				%
			</div>
	  </div>

	<% for interval in @intervals %>
		<% responses = @responses[interval.index_no] %>
		<div class="row">
	    <div class="cell fifth"><%=h ordinal(interval.index_no) %></div>
	    <div class="cell fifth right"><%= interval_time interval.minutes %></div>
			<div class="cell fifth right"><%= success_rate(responses) %></div>
			<div class="cell fifth right"><%= formatted_date interval.updated_at %></div>
			<% if interval.index_no > 1 and responses[:correct] > 10 %>
			<div class="cell fifth right">
				<% form_for interval do |f| %>
					<%= hidden_field_tag 'correct', responses[:correct] %>
					<%= hidden_field_tag 'incorrect', responses[:incorrect] %>
					<%= f.submit "Reset" %>
				<% end %>
			</div>
			<% end %>
	  </div>
	<% end %>
	<div class="cell fifth"> </div>
	<div class="cell fifth"> </div>
	<div class="cell fifth"> </div>
	<div class="cell fifth">* since last reset</div>
	<br clear="all">
	<div class="bottom-left">
		<ul>
			<li>Each time you respond to an exercise, the <strong>Interval</strong> of time until your next <strong>Revision</strong> increases.</li>
			<li>The <strong>Accuracy</strong> of your responses gives you an indication of how close you are to your <strong>Target</strong>.</li>
			<li>An interval can be <strong>Reset</strong> in order to more closely match your target.</li>
			<li> You can also <%= link_to 'change', edit_course_path(@course) %> the default target (90%) at any time.</li>
		  <li>In this way, you can make best use of your time, and learn as thoroughly or as quickly as you like.
			</ul>
	</div>

</div>

<div id="footer">
	<div class="bottom-left">
		<br/>
		Logged in as: <%= current_user.login %>
	</div>
	<div class="bottom-right">
		<br/>
		<%= link_to "FAQ", "/about/faq" %> |
		<%= link_to "logout", "/logout"%>
	</div>
</div>
