<div class="item">
  <% fields_for_exercise(exercise) do |exercise_form| %>
		<span class="phrase">
			<%= exercise_form.text_field :phrase %>
		</span>
		<span class="response">
			<%= exercise_form.text_field :response %>
		</span>
		<span class="hint">
			<%= exercise_form.text_field :hint %>
		</span>
		<span class="insert">
			<%= exercise_form.text_field :insert %>
		</span>
		<span class="remove">
			<%= link_to 'Delete', topic_exercise_path(@topic, exercise), :method => :delete %></td
		</span>
	<% end %>
</div>