<div class="item">
  <% fields_for_exercise(exercise) do |exercise_form| %>
		<div class="phrase">
			<%= exercise_form.text_field :phrase %>
		</div>
		<div class="response">
			<%= exercise_form.text_field :response %>
		</div>
		<div class="hint">
			<%= exercise_form.text_field :hint %>
		</div>
		<div class="insert">
			<%= exercise_form.text_field :insert %>
		</div>
		<div class="remove">
			<%= link_to 'Delete', topic_exercise_path(@topic, exercise), :method => :delete %>
		</div>
		<div class="clear">
	<% end %>
</div>