<tr>
	<td class="first"><%= exercise_counter + 1 %></td>
  <% fields_for_exercise(exercise) do |f| %>
		<td class="phrase">	
				<%= f.text_field :phrase, :autocomplete => "off"  %>
		</td>
		<td>	
			<%= f.text_field :response, :autocomplete => "off"  %>
		</td>
		<td>	
			<%= f.text_field :hint, :autocomplete => "off"  %>
		</td>
		<td class="last">
			<%= f.check_box :removed %>
		</td>
	<% end %>
</td>