
<%= f.error_messages %>

<br>

<%= f.label :name %>
<%= f.text_field :name, :class => 'focus' %><br>
<%= f.label :add_together %>
<%= f.check_box :add_together %><br>

<hr>

<div id="list-frame">
	<div class="row exercise">
		<div class="cell quarter">
			Question/phrase
		</div>
		<div class="cell quarter">
			Response
		</div>
		<div class="cell fifth">
			Hint (or '#' for graph)
		</div>
		<div class="cell">
			Insertion point (for code)
		</div>
	</div>
	<div id="list">
		<%= render :partial => "exercise", :collection => @topic.exercises %>
	</div>
	<br>
	<div id="add-item" class="left">
		<%= link_to "Add item",  "#" %>
	</div>
	<div id="import-list" class="right">
		<%= link_to "Import a list", "#" %>
	</div>
	<div class="clear"> </div>
	<br>
	<div class="centre">
		<%= f.submit "Update" %>
	</div>
</div>

<div id="import-frame" style="display:none">
	<%= text_area_tag "import" %>
	<div id="import-now" class="left">
		<%= link_to "Import items now", "#" %>
	</div>
	<div id="cancel-import" class="right">
		<%= link_to "Cancel import", "#" %>
	</div> 
	<div class="clear"> </div>
	<br>
</div>

<div id="data" class="hidden">
	<%= f.label :data %><br />
	<%= f.text_area :data %><br>
</div>
<div id="code" class="hidden">
 	<%= f.label :code %><br />
	<%= f.text_area :code %><br>
</div>
