
<%= f.error_messages %>

<br>

<%= f.label :name %>
<%= f.text_field :name, :class => 'focus' %><br>
<%= f.label :ignore_punctuation %>
<%= f.check_box :ignore_punctuation %><br>
<%= f.label :add_together %>
<%= f.check_box :add_together %><br>

<hr>

<div id="list-frame">
	<div class="left">
		<input id="add-item" type="submit" value="Add item"/>
	</div>
	<div class="right">
		<input id="import-list" type="submit" value="Import a list"/>
	</div>
	<div class="row exercise">
		<div class="cell quarter">
			Question/phrase
		</div>
		<div class="cell quarter">
			Response
		</div>
		<div class="cell fifth">
			Hint (or '#' for graph)
		</div>
		<div class="cell">
			Insertion point (for code)
		</div>
	</div>
	<div id="list">
		<%= render :partial => "exercise", :collection => @topic.exercises %>
	</div>
	<br>
	<div class="clear"> </div>
	<div class="centre">
		<%= f.submit "Update" %>
	</div>
</div>

<div id="import-frame" style="display:none">
	<div class="left">
		<input id="import-now" type="submit" value="Import items now"/>		
	</div>
	<div class="right">
		<input id="cancel-import" type="submit" value="Cancel import"/>
	</div>
	<%= text_area_tag "import" %>
	<div class="clear"> </div>
</div>

<% if @topic.show_data %>
	<div id="data">
		<%= f.label :data %><br />
		<%= f.text_area :data %><br>
	</div>
<% end %>
<% if @topic.show_code %>
	<div id="code">
	 	<%= f.label :code %><br />
		<%= f.text_area :code %><br>
	</div>
<% end %>