<div class="box">
	<fieldset id="topic-details">
		<%= f.error_messages %>
		<div>
			<%= f.label :name, "Topic name", :class => "bold" %>
			<%= f.text_field :name, :class => 'focus', :autocomplete => "off"  %>
		</div>
		<div>
			<%= f.label "Part of" %>
				<%= f.select :subject_id, @subjects.collect {|s| [ s.name, s.id ] } %>
		</div>
		<div>
			<%= f.label :ignore_punctuation %>
			<%= f.check_box :ignore_punctuation %>
			[ , . ! ? - ]
		</div>
		<div>
		<%= f.label "Word order doesn't matter" %>
		<%= f.check_box :unordered %>
		</div>
		<div id="rtl">
			<%= f.label "Display responses right to left" %>
			<%= f.check_box :rtl %> 
		<div class="comment">(for arithmetic)</div>
		</div>
		<div>
			<%= f.label "Number of exercises" %>
		<div id="exercise-count" class="comment bold"> </div>
		</div>
	</fieldset>
	<div class="warning message"></div>
</div>