<%= f.error_messages %>
<br>
<div id="name">
 	<%= f.label :name %>
 	<%= f.text_field :name, :class => 'focus' %><br>
	<%= f.label :add_together %>
	<%= f.check_box :add_together %><br>
</div>
<div id="exercises">
	<div id="list-frame" class="toggleable">
		<div id="list">
			<div class="toggle-switch">
				<%= link_to "Import a list", "#" %>
			</div>
			<div class="phrase">
				Question/phrase
			</div>
			<div class="response">
				Response
			</div>
			<div class="hint">
				Hint (or '#' for graph)
			</div>
			<div class="insert">
				Insertion point (for code)
			</div>
			<div class="clear"> </div>
		  <%= render :partial => "exercise", :collection => @topic.exercises %>
		</div>
		<div class="link append-to-list">
			<%= link_to "Add item",  "#" %>
		</div>
	</div>
	<div id="import-frame" style="display:none" class="toggleable">
		<span class="toggle-switch">
			<%= link_to "Cancel import", "#" %>
		</span> | 
		<span><%= link_to "Import items now", "#", :id => "add-items" %></span>
		<br>
		<%= text_area_tag "import" %>
		<br><br>
		<div class="link">
		</div>	
	</div>
</div>

<div id="data" class="hidden">
	<%= f.label :data %><br />
	<%= f.text_area :data %><br>
</div>
<div id="code" class="hidden">
 	<%= f.label :code %><br />
	<%= f.text_area :code %><br>
</div>
