<div id="phrase-help" class="display-box help-text">
	<div class="overlay"></div>
	<div class="message-frame">
		<fieldset>
			<legend>Questions or phrases</legend>
				<%= render :partial => "phrase_help.txt" %>
		</fieldset>
		<div class="footer">
			<%= submit_tag 'OK' %>
		</div>
	</div>
</div>

<div id="response-help" class="display-box help-text">
	<div class="overlay"></div>
	<div class="message-frame">
		<fieldset>
			<legend>Responses</legend>
				<%= render :partial => "response_help.txt" %>
		</fieldset>
		<div class="footer">
			<%= submit_tag 'OK' %>
		</div>
	</div>
</div>

<div id="hint-help" class="display-box  help-text">
	<div class="overlay"></div>
	<div class="message-frame">
		<fieldset>
			<legend>Hints</legend>
				<%= render :partial => "hint_help.txt" %>
		</fieldset>
		<div class="footer">
			<%= submit_tag 'OK' %>
		</div>
	</div>
</div>

<div id="notes-help" class="display-box help-text">
	<div class="overlay"></div>
	<div class="message-frame">
		<fieldset>
			<legend>Hints</legend>
				<%= render :partial => "notes_help.txt" %>
		</fieldset>
		<div class="footer">
			<%= submit_tag 'OK' %>
		</div>
	</div>
</div>
