<div id="header">
	<h1 class="top-left pad">
		<%= link_to 'Create', subjects_path %> | 
		<%= link_to @topic.subject.name, @topic.subject %> | 
		<%= @topic.name %>
	</h1>
	<div class="top-right pad">
		Last updated: <%= relative_date @topic.last_update %>
	</div>
</div>

<div id="main">

	<% form_for	@topic,
							:html => { :method => :put } do |f| %>
		<%= render :partial => "exercise_table", :locals => { :exercises => @topic.exercises.current, :add => Exercise.new } %>
		
		<div class="bottom-right">
			<div class="checkbox button space-right">
				<input type="checkbox" name="delete" />
				Remove checked
			</div>
			<div id="add-exercise" class="button">
				Add
			</div>
		</div>

		<div class="bottom-centre">
			<%= f.submit "Update" %>
		</div>
	
	<% end %>

</div>

<div id="footer">
	<%= render :partial => 'global/toplevel_links' %>
</div>
