<h1>
	<%= link_to 'Subjects', subjects_path %>: 
	<%= link_to @subject.name, subject_topics_path(@subject) %>: topics |
	<%= link_to 'add topic', new_subject_topic_path(@subject) %>
</h1>

<table>
<% for topic in @topics %>
	<tr class="<%= cycle "odd", "even" -%>">
    <td><%=h topic.id %></td>
    <td><%=h topic.position %></td>
    <td><%=h topic.name %></td>
    <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
    <td><%= link_to 'Destroy', subject_topic_path(@subject, topic), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

