<div id="header">
	<h1 class="top-left pad">
		<%= link_to 'Courses', courses_path %> | 
		<%= link_to 'Materials', subjects_path %> | 
		<%= link_to @subject.name, @subject %> | 
		New
	</h1>
</div>

<div id="main">
	<% form_for 	:topic,
								:url => subject_topics_path(@subject) do |f| %>
		<%= render :partial => "form", :locals => {:f => f } %>
	<% end %>
	<div id="list-template" style="display:none">
		<%= render :partial => "new_exercise", :object => Exercise.new %>
	</div>

</div>

<div id="footer">
	<div class="bottom-left">
		Logged in as: <%= current_user.login %>
	</div>
	<div class="bottom-right">
		<%= link_to "logout", "/logout"%>
	</div>
	<div class="clear"></div>
</div>