<div id="header">
	<h1 class="top-left pad">
		<%= link_to 'Courses', courses_path %> | 
		<%= link_to 'Materials', subjects_path %> | 
		<%= link_to @subject.name, @subject %> | 
		New
	</h1>
</div>

<div id="main">
	<div class="pad">
		<% form_for 	:topic,
									:url => subject_topics_path(@subject) do |f| %>
			<%= render :partial => "form", :locals => {:f => f } %>
		<% end %>
	</div>
	<div id="list-template" style="display:none">
		<%= render :partial => "new_exercise", :object => Exercise.new %>
	</div>

</div>

<div id="footer">
	<%= render :partial => 'global/toplevel_links' %>
</div>