<div class="navigation">
  <%= @topic.subject.name %>: <%= @topic.name %> |
  <%= link_to 'Edit', edit_topic_path(@topic) %> |
  <%= link_to 'Back', subject_topics_path(@topic.subject) %>
</div>

<% for exercise in @topic.exercises %>
  <div class="item">
    <div class="left">
      <%= exercise.id -%>.
    </div>
    <div class="left">
      <%= h exercise.position -%>
    </div>
    <div class="left column">
      <%= h exercise.phrase -%>
    </div>
    <div class="left column">
      <%= h exercise.response -%>
    </div>
    <div class="left column">
      <%= h exercise.hint -%>
    </div>
    <div class="left column">
      <%= h exercise.insert -%>
    </div>
  </div>
<% end %>


