<div id="header">
	<h1>
		<%= @organization.name %>
		&raquo; Tutor groups
	</h1>
	<h2>
		<% form_for(@group) do |f| %>
			<%= f.text_field :name, :autocomplete => "off"  %>
			<%= f.submit "Create new" %>
		<% end %>
	</h2>
</div>

<div class="main">

	<table>
		<tbody id="admin">
			<% for group in @groups %>
				<tr>
					<td class="heading">
						<%= group.name %>
					</td>
					<td>
						<%= group.students.count %> students
					</td>
					<td>
						<%= link_to 'View group', group %>
					</td>
					<td>
						<%= link_to 'Delete', group, :method => :delete if group.students.empty? %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>

	<div id="table-navigation">
		<span id="up" class="button">&laquo; Previous</span>
		<span id="down" class="button">Next &raquo;</span>
	</div>

</div>

<div id="footer">
	<%= render :partial => 'global/toplevel_links' %>
</div>