<div id="header">
	<h1 class="top-left pad">
		<%= @organization.name %>
		&raquo; <%= link_to 'Tutor groups', groups_path %>
		&raquo; <%= @group.name %>
	</h1>
	<h2 class="top-right pad">
		<%= link_to 'Add students', group_users_path(@group) %>
	</h2>
</div>

<div id="main">
	<% for student in @students %>
		<div class="row">
			<div class="bold cell third">
					<%= student.login %>
			</div>
			<div class="cell third right">
				<%= link_to 'Report', student %>
			</div>
			<div class="cell third right">
				<% form_for(@group)  do |f| %>
					<%= f.hidden_field :user_id, :value => student.id %>
					<%= f.submit "Remove" %>
				<% end %>
			</div>
		</div>
	<% end %>

	<div class="center">
		<%= will_paginate @students %>
	</div>

</div>

<div id="footer">
	<div class="bottom-left">
		Logged in as: <%= current_user.login %>
	</div>
	<div class="bottom-right">
			<%= link_to "logout", "/logout"%>
	</div>
</div>
