<div id="header">
	<h1 class="top-left pad">
		<%= @organization.name %>
		&raquo; <%= link_to 'Tutor groups', groups_path %>
		&raquo; <%= @group.name %>
	</h1>
	<h2 class="top-right pad">
		Add courses
		| <%= link_to 'Add students', group_users_path(@group) %>
	</h2>
</div>

<div id="main">
	<h2>TUTORS</h2>
	<% for tutor in @tutors %>
		<div class="row">
			<div class="bold cell third">
					<%= tutor.login %>
			</div>
			<div class="cell third right">

			</div>
			<div class="cell third right">
				<% unless tutor == current_user %>
					<% form_for(@group)  do |f| %>
						<%= f.hidden_field :tutor_id, :value => tutor.id %>
						<%= f.submit "Remove" %>
					<% end %>
				<% end %>
			</div>
		</div>
	<% end %>
	<br>

	<h2></h2>

	<div class="row">
		<div class="cell third bold">
			STUDENTS
		</div>
		<div class="cell third right bold">
			Courses
		</div>
		<div class="cell third right">
		</div>
	</div>
	
	<% for student in @students %>
		<div class="row">
			<div class="bold cell third">
					<%= student.login %>
			</div>
			<div class="cell sixth right">
				<%= relative_date student.updated_at %>
			</div>
			<div class="cell sixth right">
				<%= student.courses.count %>
			</div>
			<div class="cell third right">
				<% form_for(@group)  do |f| %>
					<%= f.hidden_field :student_id, :value => student.id %>
					<%= f.submit "Remove" %>
				<% end %>
			</div>
		</div>
	<% end %>

	<div class="centre">
		<%= will_paginate @students %>
	</div>

</div>

<div id="footer">
	<%= render :partial => 'global/toplevel_links' %>
</div>
