<div id="header">
	<h1 class="top-left pad">
		<%= link_to 'Home', '/courses' %>
		<%= '&raquo; ' + @user.login if @user.login %>
		&raquo; Account details
	</h1>
</div>

<div class="signin">

	<br><br>

	<div class="centre double-height">
		Drag this link to your bookmark bar:
		<br>
		<%= link_to "RepeatCode login", '/u/' + current_user.uid , :class => 'box-text bold' %>
		<br>
		In order to login automatically next time.
	</div>

	<label>Your ID</label>
	<div class="comment"> <code><%= current_user.uid %></code> </div>
	<div class="small centre clear">(Make a note of it and keep it safe.)</div>

	<label>Logged in from</label>
	<div class="comment"> <%= current_user.last_login %> </div>
	<div class="clear"> </div>

	<label>Logged in at</label>
	<div class="comment"> <%= formatted_date_time current_user.updated_at %> </div>
	<div class="clear"> </div>

	<%= error_messages_for :user %>

	<% form_for @user do |f| -%>

	<!--
		<label for="organization" class="bold">Organization</label>
		<%= select_tag 'user[organization_id]',  options_for_select(Organization::LIST_FOR_FORM), { :prompt => 'Select Person'}  %>
		<br>
		<%= select_tag 'test', options_from_collection_for_select(@organizations, 'id', 'name') %>
-->
		<label for="login">Login</label>
		<%= f.text_field :login %>
		<label for="email">Email</label>
		<%= f.text_field :email %>
		<label for="voice">Text to voice</label>
		<%= f.check_box :voice %> 
		<div class="comment"><%= link_to 'Help', :controller => 'about', :action => 'voice' %></div>
		<div class="centre clear"><%= submit_tag 'Update' %></div>
	<% end -%>

</div>

<div id="footer">
	<%= render :partial => 'global/toplevel_links' %>
</div>