<div id="header">
	<h1>
		<%= @student.organization.name %>
		&raquo; Students
		&raquo; <%= @student.login %>
	</h1>
	<h2>
		<%= link_to 'back', :back %>
	</h2>
</div>

<div id="main">
	<div class="row">
		<div class="cell third">
		</div>
		<div class="cell sixth">
			
		</div>
		<div class="cell half bold">
			Correct responses (% of target)
		</div>
	</div>

	<div class="row">
		<div class="cell quarter">
		</div>
		<div class="cell eighth right bold">
			Days to go
		</div>
		<div class="cell eighth right bold">
			Backlog
		</div>
		<div class="cell eighth right bold vertical-bar">
			24 hours
		</div>
		<div class="cell eighth right bold">
			1 week
		</div>
		<div class="cell eighth right bold">
			4 weeks
		</div>
		<div class="cell eighth right bold">
			All time
		</div>
	</div>

	<% for course in @courses %>
		<% if course.subject %>
			<div class="row">
				<div class="bold cell quarter">
						<%= course.subject.name %>
				</div>
				<div class="cell eighth right">
					<%= course.days_to_go %>
				</div>
				<div class="cell eighth right">
					<%= course.backlog_count %>
				</div>
				<div class="cell eighth right vertical-bar">
					<%= course.responses_in_last_days(1) %>
				</div>
				<div class="cell eighth right">
					<%= course.responses_in_last_days(7) %>
				</div>
				<div class="cell eighth right">
					<%= course.responses_in_last_days(28) %>
				</div>
				<div class="cell eighth right">
					<%= course.all_time_responses %>
				</div>
			</div>
		<% end %>
	<% end %>

	<div class="centre">
		<%= will_paginate @courses %>
	</div>

</div>

<div id="footer">
	<%= render :partial => 'global/toplevel_links' %>
</div>