<div id="header">
	<h1 class="top-left pad">
		<%= @organization.name %>
		&raquo; <%= link_to 'Manage tutor groups', :controller => :groups %>
	</h1>
	<h2 class="top-right pad">

	</h2>
</div>

<div id="main">
	<h2>Managers:</h2>
	<% for manager in @managers %>
		<div class="row">
			<div class="bold cell third">
					<%= manager.user.login %>
			</div>
			<div class="bold cell third">

			</div>
			<div class="cell third right">
				<% unless manager.user.id == current_user.id %>
					<%= link_to 'Remove management responsibilities', manager, :confirm => 'Are you sure?', :method => :delete %>
				<% end %>
			</div>
		</div>
	<% end %>

	<br>

	<h2>Users:</h2>
	<% for user in @users %>
		<div class="row">
			<div class="bold cell third">
					<%= user.login %>
			</div>
			<div class="bold cell third">

			</div>
			<div class="cell third right">
				<% form_for :manager, :url => organization_managers_path(@organization) do |f| %>
					<%= f.hidden_field(:user_id, :value => user.id ) %>
					<%= f.submit "Make manager" %>
				<% end %>
			</div>
		</div>
	<% end %>

	<div class="center">
		<%= will_paginate @users %>
	</div>

</div>

<div id="footer">
	<div class="bottom-left">
		Logged in as: <%= current_user.login %>
	</div>
	<div class="bottom-right">
		<%= render :partial => 'global/toplevel_links' %>
	</div>
</div>