<h1>Responses</h1>

<table>
  <tr>
		<th>Id</th>
    <th>Question</th>
    <th>Time</th>
    <th>Interval</th>
    <th>Result</th>
		<th>Updated at</th>
  </tr>
<% for response in @responses %>
  <tr>
    <td><%=h response.id %></td>
    <td><%=h response.question_id %></td>
    <td><%=h response.seconds_taken %></td>
    <td><%=h response.interval %></td>
    <td><%=h response.result %></td>
		<td><%=h formatted_date response.updated_at %>
		<td><%=h response.content %>
  </tr>
<% end %>
</table>

<%= will_paginate @responses %>
