
<%= f.error_messages %>
<div>
<%= f.label :name %>
<%= f.text_field :name, :autocomplete => "off"  %>
</div>
<div>
<%= f.label :area_id %>
<%= f.select(:area_id, Subject::AREAS_FOR_FORM) %>
</div>
<div class="textarea">
<%= f.label :description %>
<%= f.text_area :description %>
</div>
<div>
<%= f.label :public %>
<%= f.check_box :public %>
</div>
<div>
<%= f.label :ignore_punctuation %>
<%= f.check_box :ignore_punctuation %> 
[ , . ! ? - ]
</div>
<div>
<%= f.label "Non-standard characters" %>
<%= f.text_field :extended_chars, :autocomplete => "off"   %>
</div>
