
<%= f.error_messages %>
</p><p>
<%= f.label :name %>
<%= f.text_field :name %>
</p><p>
<%= f.label :area_id %>
<%= f.select(:area_id, Subject::AREAS_FOR_FORM) %>
</p><p>
<%= f.label :phrase_speech %>
<%= f.select(:phrase_speech, Subject::LANGUAGES_FOR_FORM, { :include_blank => true } ) %>
</p><p>
<%= f.label :response_speech %>
<%= f.select(:response_speech, Subject::LANGUAGES_FOR_FORM, { :include_blank => true } ) %>
</p><p>
<%= f.label :public %>
<%= f.check_box :public %>
</p><p>
<%= f.label :archived %>
<%= f.check_box :archived %>
</p><p>
<%= f.label "Non-standard characters" %>
<%= f.text_field :extended_chars  %>
</p>