
<%= f.error_messages %>
<%= f.label :name %>
<%= f.text_field :name, :autocomplete => "off"  %>
<%= f.label :area_id %>
<%= f.select(:area_id, Subject::AREAS_FOR_FORM) %>
<%= f.label :public %>
<%= f.check_box :public %>
<br class="clear">
<%= f.label :archived %>
<%= f.check_box :archived %>
<br class="clear">
<%= f.label :ignore_punctuation %>
<%= f.check_box :ignore_punctuation %> 
<div class="comment">[ , . ! ? - ]</div>
<br class="clear">
<%= f.label "Non-standard characters" %>
<%= f.text_field :extended_chars, :autocomplete => "off"   %>
<br class="space">
