<div id="header">
	<h1 class="left">
		<%= link_to 'Courses', courses_path %> | 
		<%= link_to 'Learning materials', subjects_path %> | 
		<%= link_to @subject.name, @subject %> |
		Edit
	</h1>
	<h2 class="right">
		<%= link_to 'Edit subject', edit_subject_path(@subject) %>
	</h2>
	<div class="clear"></div>
</div>
<div id="main">
	<% form_for(@subject) do |f| %>

		<%= render :partial => 'form', :locals => {:f => f } %>

	  <p>
	    <%= f.submit "Update" %>
	  </p>
	<% end %>

<p>Extended char set: <%= @extended %></p>


</div>

<div id="footer">
	<div class="left">
		<br>
		Logged in as: <%= current_user.login %>
	</div>
	<div class="right">
		<br>
		<%= link_to "logout", "/logout"%>
	</div>
</div>