<div id="header">
	<h1 class="left">
		<%= link_to 'Courses', courses_path %> | 
		Materials
	</h1>
	<h2 class="right">
		<%= link_to 'New subject', new_subject_path %>
	</h2>
	<div class="clear"></div>
</div>
<div id="main">
	<table>
		<tr>
		<th> </th>
		<th> </th>
		<th align="right">Last update</th>
		<th align="right">Exercises</th>
		<th> </th>
		<th> </th>
		</tr>
		<% for subject in @subjects %>
	  <tr>
	    <td class="bold"><%= link_to subject.name, subject %></td>
	    <td><%= h subject.public %></td>
	    <td align="right"><%= relative_date subject.last_update %></td>
	    <td align="right"><%= subject.exercises.count %></td>
	    <td align="right"><%= Subject::AREAS[subject.area_id] %></td>
	    <td align="right"><%= link_to 'Delete', subject, :confirm => 'WARNING! This will destroy all course content. Do you really want to do this?', :method => :delete %></td>
	  </tr>
		<% end %>
	</table>
</div>

<div id="footer">
	<div class="left">
		<br>
		Logged in as: <%= current_user.login %>
	</div>
	<div class="right">
		<br>
		<%= link_to "FAQ", "/about/faq" %> |
		<%= link_to "logout", "/logout"%>
	</div>
	<div class="center">
		<%= will_paginate @subjects %>
	</div>
</div>
