<div id="header">
	<h1 class="top-left pad">
		<%= link_to 'Courses', courses_path %> | 
		Materials
	</h1>
	<h2 class="top-right pad">
		<%= link_to 'New subject', new_subject_path %>
	</h2>
</div>
<div id="main">
		<div class="row">
			<div class="bold cell third"> </div>
			<div class="bold cell eighth"> </div>
			<div class="bold cell eighth"> </div>
			<div class="bold cell eighth right">Updated</div>
			<div class="bold cell eighth right">Exercises</div>
			<div class="bold cell eighth"> </div>
		</div>
		<% for subject in @subjects %>
	  <div class="row">
	    <div class="bold cell third"><%= link_to subject.name, subject %></div>
	    <div class="cell eighth"><%= h subject.public %></div>
	    <div class="cell eighth right"><%= Subject::AREAS[subject.area_id] %></div>
	    <div class="cell eighth right"><%= relative_date subject.last_update %></div>
	    <div class="cell eighth right"><%= subject.exercises.count %></div>
	    <div class="cell eighth right"><%= link_to 'Delete', subject, :confirm => 'WARNING! This will destroy all course content. Do you really want to do this?', :method => :delete %></div>
	  </div>
		<% end %>

</div>

<div id="footer">
	<div class="center pad">
		<%= will_paginate @subjects %>
	</div>

	<div class="bottom-left">
		Logged in as: <%= current_user.login %>
	</div>
	<div class="bottom-right">
		<%= link_to "FAQ", "/about/faq" %> |
		<%= link_to "logout", "/logout"%>
	</div>
</div>
