<div id="header">
	<h1 class="left">
		<%= link_to 'Courses', courses_path %> | 
		<%= link_to 'Materials', subjects_path %> | 
		New
	</h1>
	<h2 class="right">
	</h2>
	<div class="clear"></div>
</div>
<div id="main">
	<% form_for(@subject) do |f| %>
		<%= render :partial => 'form', :locals => {:f => f } %>
	  <br><br>
		<%= f.submit "Create" %>
	<% end %>
</div>

<div id="footer">
	<div class="left">
		<br>
		Logged in as: <%= current_user.login %>
	</div>
	<div class="right">
		<br>
		<%= link_to "FAQ", "/about/faq" %> |
		<%= link_to "logout", "/logout"%>
	</div>
</div>