<div id="header">
	<h1 class="top-left">
		<%= link_to 'Courses', courses_path %>
		| <%= link_to 'Materials', subjects_path %>
	  | <%=h @subject.name %>
		| <%= link_to 'Edit', edit_subject_path(@subject) %>
	</h1>
	<h2 class="top-right">
		<%= link_to 'New topic', new_subject_topic_path(@subject) %>
	</h2>
	<div class="clear"></div>
</div>
<div id="main">
	<div class="row">
			<div class="cell third"> </div>
			<div class="bold cell fifth">Updated</div>
			<div class="bold cell fifth">Exercises</div>
			<div class="bold cell fifth"> </div>
		</div>
	<% for topic in @topics %>
	<div class="row">
			<div class="bold cell third">
				<%= link_to topic.name.slice(0..64), edit_topic_path(topic) %>
			</div>
			<% if topic.exercises.first %>
	    <div class="cell fifth"><%= relative_date topic.last_update %></div>
	    <div class="cell fifth"><%= topic.exercises.count %></div>
			<div class="cell fifth"><%= topic.exercises.first.phrase.slice(0..16) %>...</div>
			<% else %>
			<div class="cell fifth">No exercises yet</div>
			<% end %>
		</div>
	<% end %>
</div>

<div id="footer">
	<div class="bottom-left">
		Last updated: <%= @subject.days_since_last_update %> days ago
		<br>
		Logged in as: <%= current_user.login %>
	</div>
	<div class="bottom-right">
		<br>
		<%= link_to "logout", "/logout"%>
	</div> 
	<div class="center">
		<%= will_paginate @topics %>
	</div>
</div>