<div id="header">
	<h1 class="top-left">
		<%= link_to 'Create', subjects_path %>
	  &raquo; <%=h @subject.name %>
		&raquo; <%= link_to 'Edit', edit_subject_path(@subject) %>
	</h1>
	<h2 class="top-right">
		<%= link_to 'New topic', new_subject_topic_path(@subject) %>
	</h2>
	<div class="clear"></div>
</div>
<div id="main">
	
	<table class="topics-table ">
		<thead>
			<tr>
				<th class="first"> </th>
				<th></th>
				<th>Updated</th>
				<th>Exercises</th>
				<th class="last"> </th>
			</tr>
		</thead>
		<tbody id="topics">
			<%= render :partial => "topic", :collection => @subject.topics.current %>
		</tbody>
	</table>

	<div id="navigation" class="bottom-left hidden">
		<span id="up" class="button space-right">&laquo; Previous</span>
		<span id="down" class="button">Next &raquo;</span>
	</div>

</div>

<div id="footer">
	<div class="left">
		Last updated: <%= @subject.days_since_last_update %> days ago
	</div> 
	<%= render :partial => 'global/toplevel_links' %>
</div>