<div id="header">
	<h1>
		<%= link_to 'Create', subjects_path %>
	  &raquo; <%=h @subject.name %>
		&raquo; <%= link_to 'Edit', edit_subject_path(@subject) %>
	</h1>
	<h2>
		Last updated: <%= @subject.days_since_last_update %> days ago
	</h2>
</div>

<div class="main">
	
	<table class="topics-table ">
		<thead>
			<tr>
				<th class="first"> </th>
				<th></th>
				<th>Updated</th>
				<th>Exercises</th>
				<th class="last"> </th>
			</tr>
		</thead>
		<tbody id="topics">
			<%= render :partial => "topic", :collection => @subject.topics.current %>
		</tbody>
	</table>

		<%= render :partial => 'global/table_navigation' %>
	
	<div class="actions">
		<div class="button">
			<%= link_to 'New topic', new_subject_topic_path(@subject) %>
		</div>
	</div>

</div>

<div id="footer">
	<div class="left">
	</div> 
	<%= render :partial => 'global/toplevel_links' %>
</div>