<div id="header">
	<%= render :partial => 'global/logo' %>
	<h1>
	  <%= header @subject.name %>
	</h1>
	<h2>
		<%= render :partial => 'global/subject_links' %>
	</h2>
</div>

<div class="main">
	
	<table class="topics-table ">
		<thead>
			<tr>
				<th class="first"> </th>
				<th></th>
				<th>Updated</th>
				<th>Exercises</th>
				<th class="last"> </th>
			</tr>
		</thead>
		<tbody class="paging" limit="14" id="topics">
			<%= render :partial => "topic", :collection => @subject.topics.current %>
		</tbody>
	</table>

		<%= render :partial => 'global/table_navigation' %>
	
	<div class="actions">
		<div class="button">
			<%= link_to 'New topic', new_subject_topic_path(@subject) %>
		</div>
	</div>

</div>

<div id="footer">
	<%= render :partial => 'global/toplevel_links' %>
</div>