<div id="header">
	<h1 class="left">
		<%= link_to 'Courses', courses_path %>
		| <%= link_to 'Materials', subjects_path %>
	  | <%=h @subject.name %>
		| <%= link_to 'Edit', edit_subject_path(@subject) %>
	</h1>
	<h2 class="right">
		<%= link_to 'New topic', new_subject_topic_path(@subject) %>
	</h2>
	<div class="clear"></div>
</div>
<div id="main">
	<table>
	<% for topic in @topics %>
		<tr>
			<td class="bold">
				<%= link_to topic.name.slice(0..64), edit_topic_path(topic) %>
			</td>
			<td>
				<% if topic.exercises.first %>
				<%= topic.exercises.first.phrase.slice(0..40) %>...
				<% else %>
				No exercises yet
				<% end %>
			</td>
		</tr>
	<% end %>
	</table>
</div>

<div id="footer">
	<div class="left">
		Last updated: <%= @subject.days_since_last_update %> days ago
		<br>
		Logged in as: <%= current_user.login %>
	</div>
	<div class="right">
		<br>
		<%= link_to "logout", "/logout"%>
	</div> 
	<div class="center">
		<%= will_paginate @topics %>
	</div>
</div>