<div id="header">
	<h1 class="left">
		<%= link_to 'Courses', courses_path %>
		| <%= link_to 'Materials', subjects_path %>
	  | <%=h @subject.name %>
		| <%= link_to 'Edit', edit_subject_path(@subject) %>
	</h1>
	<h2 class="right">
		<%= link_to 'New topic', new_subject_topic_path(@subject) %>
	</h2>
	<div class="clear"></div>
</div>
<div id="main">
	<table>
		<tr>
			<th> </th>
			<th align="right">Last update</th>
			<th align="right">Exercises</th>
			<th> </th>
		</tr>
	<% for topic in @topics %>
		<tr>
			<td class="bold">
				<%= link_to topic.name.slice(0..64), edit_topic_path(topic) %>
			</td>
			<% if topic.exercises.first %>
	    <td align="right"><%= relative_date topic.last_update %></td>
	    <td align="right"><%= topic.exercises.count %></td>
			<td><%= topic.exercises.first.phrase.slice(0..20) %>...</td>
			<% else %>
			<td>No exercises yet</td>
			<% end %>
		</tr>
	<% end %>
	</table>
</div>

<div id="footer">
	<div class="left">
		Last updated: <%= @subject.days_since_last_update %> days ago
		<br>
		Logged in as: <%= current_user.login %>
	</div>
	<div class="right">
		<br>
		<%= link_to "logout", "/logout"%>
	</div> 
	<div class="center">
		<%= will_paginate @topics %>
	</div>
</div>