<div id="header">
	<h1 class="top-left">
		<%= link_to 'Create', subjects_path %>
	  &raquo; <%=h @subject.name %>
		&raquo; <%= link_to 'Edit', edit_subject_path(@subject) %>
	</h1>
	<h2 class="top-right">
		<%= link_to 'New topic', new_subject_topic_path(@subject) %>
	</h2>
	<div class="clear"></div>
</div>
<div id="main">
	<div class="row">
			<div class="cell half"> </div>
			<div class="bold cell quarter right">Updated</div>
			<div class="bold cell quarter right">Exercises</div>
		</div>
	<% for topic in @topics %>
	<div class="row">
			<div class="bold cell half">
				<% name = topic.name.length > 52 ? topic.name.slice(0..52) + '...' : topic.name %>
				<%= link_to name, edit_topic_path(topic) %>
			</div>
	    <div class="cell quarter right"><%= relative_date topic.last_update %></div>
	    <div class="cell quarter right"><%= topic.exercises.count %></div>
		</div>
	<% end %>

	<div class="bottom-centre">
		<%= will_paginate @topics %>
	</div>

</div>

<div id="footer">
	<div class="left">
		Last updated: <%= @subject.days_since_last_update %> days ago
	</div> 
	<%= render :partial => 'global/toplevel_links' %>
</div>