<p>
  <b>Name:</b>
  <%=h @subject.name %>
</p>

<%= link_to 'New topic', new_subject_topic_path(@subject) %>

<% for topic in @subject.topics %>
	<p>
		<%= link_to topic.name, edit_topic_path(topic) %>
	</p>
<% end %>

<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>

