<div id="header">
	<%= render :partial => 'global/logo' %>
	<h1>Repeat
		<%= @course.name %>
	</h1>
	<h2>
		<%= render :partial => 'global/course_links' %>
	</h2>
</div>

<div class="main">
	
	<table class="questions-table">
		<thead>
			<tr>
				<th> </th>
				<th>Started at</th>
				<th>Elapsed time</th>
				<th>Correct this time</th>
				<th>Progress</th>
			</tr>
		</thead>
		<tbody class="paging" limit="16" id="lessons">
			<%= render :partial => 'lesson', :collection => @lessons %>
		</tbody>
	</table>

	<%= render :partial => 'global/table_navigation' %>

</div>

<div id="footer">
	<%= render :partial => 'global/toplevel_links' %>
</div>