<h1>New lesson</h1>

<% form_for(@lesson) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :course_id %><br />
    <%= f.text_field :course_id %>
  </p>
  <p>
    <%= f.label :start_time %><br />
    <%= f.datetime_select :start_time %>
  </p>
  <p>
    <%= f.label :end_time %><br />
    <%= f.datetime_select :end_time %>
  </p>
  <p>
    <%= f.label :correct_responses %><br />
    <%= f.text_field :correct_responses %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', lessons_path %>
