<div id="outfox"> </div>

<div id="content">

	<div id="header">
		<h1>
	  	<div id="subject"><%= h @lesson.course.name %></div>
		</h1>
		<h2>
			<div id="topic"></div>
		</h2>
	</div>

	<div id="main">

		<div id="progress">
			Correct responses: <span id="correct-responses"></span> (Target: <span id="target"><%= @lesson.course.lesson_target %></span>)
			Elapsed time: <span id="elapsed-time">0</span> minutes
		</div>
		
		<div id="progress-alert"> </div>

		<div id="start">
			<div>
				Course loading...<br><br>(<%= link_to "reload" %>)
			</div>
		</div>

		<div id="completed">
			<div>
				Course completed.<br><br>Come back again in <span id="days-til-next"></span> for a review.<br><br>
			</div>
			<div>
				<%= link_to "Back to courses", courses_path %>
			</div>
		</div>

		<div id="question"> </div>
		
		<div id="graph"> </div>
	
		<div id="code-block">
			<div id="data-tab" class="data tab border">
			</div>
			<div id="code-tab" class="code tab border">
			</div>
			<div id="output-tab" class="output tab border">
			</div>
		</div>

		<div id="answer">
		
			<div id="formatted-answer"> </div>
		
			<div id="answer-text"> </div>
			<div class="submit">
				<%= submit_tag "OK", :id => "ok"%>
			</div>
			<div id="corrections">
				<a href="" id="amend-link">Amend</a> | <a href="" id="ignore-link">Ignore</a>
			</div>
		
		</div>

		<div id="response">
			<div id="formatted-response"> </div>
			<form id="response-form">
				<%= text_field_tag "response-field", nil, :autocomplete => "off" %> 
			<div id="toolbar">
				<div id="palettes">
					<% unless @lesson.course.extended_chars.blank? %>
					<div id="language-palette" class="palette">
						<div id="palette-switch">
							ignore accents
							<input type="checkbox" id="ignore-accents">
						</div>
						<div id="extended-chars">
							<%= palette @lesson.course.subject.extended_chars %>
						</div>
					</div>
					<% end %>
					<%= render :partial => 'maths_palette' %>
				</div>
			</div>
		</form>
		</div>
	</div>

	<div id="footer">
		<div id="details">
			Exercise no: <span id="exercise-no"></span>
			| Question no: <span id="question-no"></span>
			| Repetition no: <span id="current-interval"></span>
			| Backlog: <span id="backlog"></span>
			| <span id="seconds">0</span> seconds
		</div>
		<div id="loading"><img src="/images/furniture/loading.gif" width="16" height="16" alt="waiting..." align="right"></div>
			
		<div id="user">
			<% if current_user.login %>
				Logged in as: <%= current_user.login %>
			<% else %>
				User ID: <%= current_user.uid %>
			<% end %>
		</div>
		<div id="navigation">
			<a href="" id="voices-link">Voices</a> 
			| <a href="" class="details-switch">Show details</a> 
			<a href="" class="details-switch hidden">Hide details</a> 
			| <%= link_to 'End lesson', courses_path %>
		</div>
	</div>

</div>

<div id="amend">
	<div class="overlay"></div>
	<div class="message-frame">
		<fieldset>
			<legend>Amend this question</legend>
				<%= label_tag 'Phrase' %>
				<%= text_field_tag "amend-phrase", nil, :autocomplete => "off" %> 
				<%= label_tag 'Response' %>
				<%= text_field_tag "amend-response", nil, :autocomplete => "off" %> 
				<%= label_tag 'Hint' %>
				<%= text_field_tag "amend-hint", nil, :autocomplete => "off" %> 
				<%= submit_tag 'Cancel' %>
				<%= submit_tag 'OK' %>
		</fieldset>
	</div>
</div>

<div id="ignore">
	<div class="overlay"></div>
	<div class="message-frame">
		<fieldset>
			<legend>Ignore this question</legend>

			<div class="phrase"></div>
			
			<div class="response"></div>

				<%= submit_tag 'Cancel' %>
				<%= submit_tag 'OK' %>

			<div>(This question will not appear again)</div>
		</fieldset>
	</div>
</div>

<div id="voices">
	<div class="overlay"></div>
	<div class="message-frame">
		<fieldset>
			<legend>Change text-to-speech options</legend>
			<%= label_tag 'Voices for phrases' %>
			<select id="phrase-voice">
				<option value="">None</option>
				<%= selected_voice @lesson.course.phrase_voice %>
			</select>
			<%= label_tag 'Voices for responses' %>
			<select id="response-voice">
				<option value="">None</option>
				<%= selected_voice @lesson.course.response_voice %>
			</select>
			<%= submit_tag 'Cancel' %>
			<%= submit_tag 'OK' %>
		</fieldset>
	</div>
</div>


<div id="timeout">
	<div class="overlay"></div>
	<div class="message-frame">
		<fieldset>
			<h3>Taking time out</h3>
			Click to continue
		</div>
	</div>
</div>

