<div id="content">

	<div id="header">
			
		<h1 class="left">
	  	<div id="subject"><%= h @lesson.course.subject.name %></div>
		</h1>
		
		<h2 class="right">
			<div id="topic"></div>
		</h2>
		<div class="clear"></div>
	</div>

	<div id="main">

		<div class="left">
			Correct responses: <span id="correct-responses"></span>
		</div>
		<div class="right">
			Elapsed time: <span id="elapsed-time">0</span> minutes
		</div>

		<div id="start">
			<div>
				Course loading...<br><br>(<%= link_to "reload" %>)
			</div>
		</div>

		<div id="completed" class="hidden">
			<div>
				Course completed.<br><br>Come back again in <span id="days-til-next"></span> for a review.<br><br>
			</div>
			<div>
				<%= link_to "Back to courses", courses_path %>
			</div>
		</div>

		<div id="question"> </div>
		
		<div id="graph" class="hidden"> </div>
	
		<div id="response">			
		
			<div id="response-message" class="hidden">Correct</div>

			<div class="incorrect" id="wrong"> </div>

			<div id="expected" class="hidden">
				<div id="exercise-response"> </div>
				<%= submit_tag "OK", :id => "try-now", :class => "space"%>
			</div>
		
			<div id="attempt" class="hidden">
				<div id="attempt-translated"> </div>
				<form id="response-form">
					<%= text_field_tag "response-field", nil, :autocomplete => "off" %>
				</form>
				<% unless @lesson.course.subject.extended_chars.blank? %>
					<div class="palette">
						<div id="extended-chars">
							<%= palette @lesson.course.subject.extended_chars %>
						</div>
						<div class="bottom-right checkbox">
							<label>ignore accents</label>
							<input type="checkbox" id="ignore-accents">
						</div>
					</div>
				<% end %>
				<div id="maths-palette" class="palette hidden">
					<div class="button" value="%">&radic;</div>
					<div class="button" value="^">x<sup>a</sup></div>
					<div class="button" value="_">x<sub>a</sub></div>
					<div class="button" value=";">end</div> | 
					<div class="button" value="/">x/y</div>
					<div class="button" value="\">end</div> | 
					<div class="button" value="n$r=1 ">&Sigma;</div>
				</div>
			</div>
			<div id="wrong-buttons" class="hidden">
				<div class="left">
					<%= submit_tag "Try again", :id => "try-again" %>
				</div>
				<div class="right">
					<%= submit_tag "Show answer", :id => "show-answer" %>
				</div>
			</div>

		</div>
	 
		<% if 1==0 %> <!-- leave this for now. it's going to be a  bit different -->
		<div id="tabs">
			<div class="data tab">
	 h @question.exercise.topic.data %>
			</div>
			<div class="code tab">
	 if @question.current_interval %>
	%= @question.exercise.code %>
	% else %>
	%= @question.exercise.code(@question.exercise.simplified(@question.exercise.response)) %>
	% end %>
			</div>
			<div class="output tab">
	%= @question.exercise.topic.data %>
			</div>
			<div class="clear"></div>
		</div>
		<% end %>
	
	</div>

	<div id="footer">
		<div class="bottom-left">
			<span id="details" class="hidden">
				Exercise no: <span id="exercise-no"></span>
				| Question no: <span id="question-no"></span>
				| Repetition no: <span id="current-interval"></span>
				| Backlog: <span id="backlog"></span>
				| <span id="seconds">0</span> seconds
			</span>
			<br>Logged in as: <%= current_user.login %>
		</div>
		<div id="loading"><img src="/images/furniture/loading.gif" width="16" height="16" alt="waiting..." align="right"></div>
		<div class="bottom-right">
			<a href="" class="details-switch">Show details</a> 
			<a href="" class="details-switch hidden">Hide details</a> 
			| <%= link_to 'End lesson', courses_path %>
		</div>
	</div>
</div>

<div id="timeout">
	<h2>Taking time out</h2>
	Click to continue
</div>
