<div id="header">
	<h1 class="top-left pad">
		Administrators
	</h1>
	<h2 class="top-right pad">
		<%= link_to 'Manage organizations', :controller => :organizations %>
	</h2>
</div>

<div id="main">
	<h2>Administrators</h2>
	<% for admin in @administrators %>
		<div class="row">
			<div class="bold cell third">
					<%= admin.user.login %>
			</div>
			<div class="cell third right">
			</div>
			<div class="cell third right">
				<% unless admin.user_id == current_user.id %>
					<%= link_to 'Remove admin responsibilities', admin, :confirm => 'Are you sure?', :method => :delete %>
				<% end %>
			</div>
		</div>
	<% end %>
	<br>
	<h2>Users</h2>
	<% for user in @users %>
		<div class="row">
			<div class="bold cell third">
					<%= user.login %>
			</div>
			<div class="bold cell third">
					<%= user.organization.name if user.organization %>
			</div>
			<div class="cell third right">
				<% form_for :administrator, :url => { :action => "create" } do |f| %>
					<%= f.hidden_field(:user_id, :value => user.id ) %>
					<%= f.submit "Make administrator" %>
				<% end %>
			</div>
		</div>
	<% end %>

	<div class="centre">
		<%= will_paginate @users %>
	</div>

</div>

<div id="footer">
	<%= render :partial => 'global/toplevel_links' %>
</div>
