<div id="header">
	<h1 class="top-left pad">
		<%= link_to 'Courses', courses_path %>
		&raquo; <%= @course.subject.name if @course %>
	</h1>
	<div class="top-right pad">
		<%= render :partial => 'global/course_links' %>
	</div>
</div>

<div id="main">
	


	<% for topic in @topics %>
		<div class="row">
			<div class="cell half">
				<%= topic.name %>
			</div>
			<div class="cell half right">
			</div>
		</div>

	<% end %>

	<div class="bottom-centre">
		<%= will_paginate @topics %>
	</div>

</div>

<div id="footer">
	<div class="bottom-left">
		Logged in as: <%= current_user.login %>
	</div>
	<div class="bottom-right">
		<%= render :partial => 'global/toplevel_links' %>
	</div>
</div>