<div id="header">
	<h1 class="top-left pad">
		<%= render :partial => 'global/course_links' %>
	</h1>
	<div class="top-right pad">
		<%= @course.questions.count %> / 
		<%= @course.subject.exercise_count %>
	</div>
</div>

<div id="main">

	<div class="targets">
		<% form_for @course do |f| %>
		  <%= f.error_messages %>
			<br>
			<%= f.text_field :accuracy_target %> % accuracy rate for responses
			<br>
			<%= f.text_field :lesson_target %> correct responses each lesson 
			<br>
			<%= f.text_field :weekly_target %> lesson per week
			<br>
			<%= f.submit "Update targets" %>
		<% end %>
	</div>


</div>

<div id="footer">
	<div class="bottom-left">
		Logged in as: <%= current_user.login %>
	</div>
	<div class="bottom-right">
		<%= render :partial => 'global/toplevel_links' %>
	</div>
</div>