<div id="header">
	<h1>
		<%= link_to 'Courses', courses_path %>
		&raquo; <%= @course.subject.name if @course %>
	</h1>
	<h2>
		<%= render :partial => 'global/course_links' %>
	</h2>
</div>

<div class="main">
	<table class="course-topics-table">
		<thead>
			<tr>
				<th> </th>
				<th> </th>
				<th>Started</th>
				<th>Queued</th>
				<th>Total</th>
				<th></th>
			</tr>
		</thead>
		<tbody id="course-topics">

			<%= render :partial => "course_topic", :collection => @course.course_topics.current %>

		</tbody>
	</table>

	<%= render :partial => 'global/table_navigation' %>

</div>

<div id="footer">
	<%= render :partial => 'global/toplevel_links' %>
</div>