<div id="header">
	<h1 class="top-left pad">
		Courses
	</h1>
	<h2 class="top-right pad">
		<%= link_to 'Choose a new course', new_course_path %>
	</h2>
</div>

<div id="main">
	<% for course in @courses %>
		<div class="row">
			<div class="cell eighth">
				<% form_for :lesson,
		 								:url => course_lessons_path(course) do |f| %>
					<%= f.submit "Learn now" %>
				<% end %>
			</div>
			<div class="bold cell third">
				<% if course.subject %>
					<%= course.subject.name %>
				<% else %>
					[ course removed ]
				<% end %>
			</div>
			<div class="cell eighth"> <%= relative_date course.updated_at %></div>
			<div class="cell twelfth right">
				<%= course.questions.count %>/<%= course.subject.exercise_count %>
			</div>
			<div class="cell twelfth right">
				<%= link_to "Report", course_path(course) %>
			</div>
			<div class="cell twelfth right">
				Rate
			</div>
			<div class="cell twelfth right">
				<%= link_to @action, course_path(course), :method => :put %>
			</div>
			<div class="cell twelfth right">
				<%= link_to 'Delete', course, :confirm => 'WARNING! This will destroy all course content. Do you really want to do this?', :method => :delete %>
			</div>
		</div>
	<% end %>

	<div class="center">
		<%= will_paginate @courses %>
	</div>

</div>

<div id="footer">
	<div class="bottom-left">
		Logged in as: <%= current_user.login %>
	</div>
	<div class="bottom-right">
			<%= link_to "Course materials", :controller => 'subjects', :action => 'index' %>
			| <%= link_to_unless_current "Archive", :controller => 'courses', :action => 'index', :archived => '' %>
			| <%= link_to "FAQ", "/about/faq" %>
			| <%= link_to "logout", "/logout"%>
	</div>
</div>