<div id="header">
	<h1 class="left">
		Courses
	</h1>
	<h2 class="right">
		<%= link_to 'Choose a new course', new_course_path %>
	</h2>
	<div class="clear"></div>
</div>
<div id="main">
	<table>
	<% for course in @courses %>
		<tr>
			<td>
				<% form_for :lesson,
		 								:url => course_lessons_path(course) do |f| %>
			</td>
			<td>
				<%= f.submit "Learn now" %>
			</td>
			<td>
				<%= link_to "Report", course_path(course) %>
			</td>
			<td>
				<%= link_to "Intervals", course_intervals_path(course) %>
			</td>
			<td>
				Rate this course
			</td>
			<td class="half bold">
				<% if course.subject %>
					<%= course.subject.name %>
				<% else %>
					[ course removed ]
				<% end %>
			</td>
			<td>
				<%= link_to "delete", course_path(course), :confirm => 'WARNING: This will delete all record of your work. Are you absolutely sure you want to do this?',  :method => :delete %>
			</td>
		<% end %>
		</tr>
	<% end %>
	</table>
</div>

<div id="footer">
	<div class="left">
		<%= link_to "Edit course materials", :controller => 'subjects', :action => 'index' %><br>
		Logged in as: <%= current_user.login %>
	</div>
	<div class="right">
		<br>
		<%= link_to "FAQ", "/about/faq" %> |
		<%= link_to "logout", "/logout"%>
	</div>
</div>