<div id="header">
	<h1>
		RepeatCode
		<span class="italic white">pre-beta</span>
	</h1>
	<h2>
		<% unless current_user %>
			Already registered? <%= link_to "Login now", "/login" %>
		<% end %>
	</h2>
</div>
<div class="main">

	<div class="col3">

	<% row = 0; limit = 16 %>
	<% for area in @areas %>
		<% next if area.subjects.public.count == 0 %>
		<% if row >= limit - 4 %>
			<% row = 0 %>
			</div><div class="col3">
			<% row = 0 %>
		<% end %>
		<% row += 2 %>
		<h3> <%= area.name %> </h3>
		<% for subject in area.subjects.public %>
			<% if row >= limit %>
			</div><div class="col3">
				<% row = 0 %>
			<% end %>
			<% row += 1 %>
			<% form_for :course, :url => subject_courses_path(subject) do |f| %>
				<div class="new-course centre">
					<%= f.submit "#{subject.name} (#{subject.exercises.count})" %>
				</div>
				<% end %>
		<% end %>
		</ul>
	<% end %>
	<% if current_user and current_user.subjects.private.count > 0 %>
	<h3>Not public</h3>
		<% for subject in current_user.subjects.private %>
			<% if row >= limit %>
			</div><div class="col3">
				<% row = 0 %>
			<% end %>
			<% row += 1 %>
			<% form_for :course, :url => subject_courses_path(subject) do |f| %>
				<div class="new-course centre">
					<%= f.submit "#{subject.name} (#{subject.exercises.count})" %>
				</div>
				<% end %>
		<% end %>
	<% end %>

	</div>

	<div class="notes">
		Welcome to RepeatCode! This site is still in development, but you are welcome to try it out.
	</div>


</div>

<div id="footer">
		<%= render :partial => 'global/toplevel_links' %>
</div>