<div id="header">
	<h1 class="top-left pad">
		RepeatCode
		<span class="italic white">pre-beta</span>
	</h1>
	<h2 class="top-right pad">
		<% unless current_user %>
			Already registered? <%= link_to "Login now", "/login" %>
		<% end %>
	</h2>
</div>
<div id="main">

	<br>

	<div class="col3">

	<% row = 0; limit = 20 %>
	<% for area in @areas %>
		<% next if area.subjects.public.count == 0 %>
		<% if row >= limit - 4 %>
			<% row = 0 %>
			</div><div class="col3">
			<% row = 0 %>
		<% end %>
		<% row += 2 %>
		<h3 class="centre"> <%= area.name %> </h3>
		<% for subject in area.subjects.public %>
			<% if row >= limit %>
			</div><div class="col3">
				<% row = 0 %>
			<% end %>
			<% row += 1 %>
			<% form_for :course, :url => subject_courses_path(subject) do |f| %>
				<div class="new-course centre">
					<%= f.submit "#{subject.name} (#{subject.exercises.count})" %>
				</div>
				<% end %>
		<% end %>
		</ul>
		<br/>
	<% end %>
	<% if @private_subjects and @private_subjects.count > 0 %>
	<h3 class="centre">Not public</h3>
		<% for subject in @private_subjects %>
			<% if row >= limit %>
			</div><div class="col3">
				<% row = 0 %>
			<% end %>
			<% row += 1 %>
			<% form_for :course, :url => subject_courses_path(subject) do |f| %>
				<div class="new-course centre">
					<%= f.submit "#{subject.name} (#{subject.exercises.count})" %>
				</div>
				<% end %>
		<% end %>
	<% end %>

	</div>

	<div class="bottom-left clear">
		Welcome to the RepeatCode! We are not ready to go live yet.
	</div>


</div>

<div id="footer">
		<%= render :partial => 'global/toplevel_links' %>
</div>