<div id="header">
	<h1 class="left">
		<%= link_to "Courses", courses_path %> |
		New
	</h1>
	<h2 class="right">
	</h2>
	<div class="clear"></div>
</div>
<div id="main">
	<div class="col3">

	<% row = 0; limit = 20 %>
	<% for area in @areas %>
		<% if row >= limit - 4 %>
			<% row = 0 %>
			</div><div class="col3">
			<% row = 0 %>
		<% end %>
		<% row += 2 %>
		<h3> <%= area.name %> </h3>
		<% for subject in area.subjects %>
			<% if row => limit %>
			</div><div class="col3">
				<% row = 0 %>
			<% end %>
			<% row += 1 %>
			<ul><li><%= link_to subject.name,  subject_courses_path(subject), :method => :post %> </li></ul>
		<% end %>
		</ul>
		<br/>
	<% end %>

	</div>
</div>

<div id="footer">
	<div class="left">
		<br>
		Logged in as: <%= current_user.login %>
	</div>
	<div class="right">
		<br>
		<%= link_to "FAQ", "/about/faq" %> |
		<%= link_to "logout", "/logout"%>
	</div>
</div>

<!--
	<table>
	<% for subject in @subjects %>
		<tr>
			<td>
				<% form_for :course,
				 						:url => subject_courses_path(subject) do |f| %>
					<%= f.submit "Add course" %>
			</td>
			<td class="bold">
				<%= subject.name %>
			</td>
		<% end %>
		</tr>
	<% end %>
	</table>
-->