<div id="header">
	<h1 class="top-left pad">
		<%= link_to "Courses", courses_path %>
		&raquo; New
	</h1>
	<h2 class="top-right pad">
	</h2>
</div>
<div id="main">

	<div class="col3">

	<% row = 0; limit = 20 %>
	<% for area in @areas %>
		<% if row >= limit - 4 %>
			<% row = 0 %>
			</div><div class="col3">
			<% row = 0 %>
		<% end %>
		<% row += 2 %>
		<h3> <%= area.name %> </h3>
		<% for subject in area.subjects %>
			<% if row >= limit %>
			</div><div class="col3">
				<% row = 0 %>
			<% end %>
			<% row += 1 %>
			<ul><li><%= link_to subject.name,  subject_courses_path(subject), :method => :post %> (<%= subject.exercises.count %>)</li></ul>
		<% end %>
		</ul>
		<br/>
	<% end %>

	</div>

	<div class="bottom-left clear">
		(The total number of exercises in each course is given in brackets)
	</div>


</div>

<div id="footer">
	<div class="bottom-left">
		Logged in as: <%= current_user.login %>
	</div>
	<div class="bottom-right">
		<br>
		<%= link_to "FAQ", "/about/faq" %> |
		<%= link_to "logout", "/logout"%>
	</div>
</div>