<div id="header">
	<h1>
		<%= link_to 'Courses', courses_path %>
		&raquo; <%= @course.subject.name if @course %>
	</h1>
	<h2>
		<%= render :partial => 'global/course_links' %>
	</h2>
</div>

<div id="progress-report" class="main">
	
	<table>
		<tbody>
			<tr>
				<td class="left">
					Start date:
				</td>
				<td>
		 			<%= formatted_date @course.created_at %>
				</td>
			</tr>
			<tr>
				<td class="left">
					Estimated end date based on current targets: 
				</td>
				<td>
					<%= formatted_date @course.estimated_end_date %>
				</td>
			</tr>
			<tr>
				<td class="left">
					Number of exercises begun:
				</td>
				<td>
					<%= number_with_delimiter @course.questions_started %>
				</td>
			</tr>
			<tr>
				<td class="left">
					Number of responses given:
				</td>
				<td>
					<%= number_with_delimiter @course.responses_completed %>
				</td>
			</tr>
			<tr>
				<td class="left">
					Accuracy of responses:
				</td>
				<td>
					<% accuracy_rate = @course.responses.count == 0 ? @course.accuracy_target : 100 * @course.responses.correct.count / @course.responses.count %>
					<%= accuracy_rate %>%
				</td>
			</tr>
			<tr>
				<td class="left">
					Average weekly work rate:
				</td>
				<td>
					<% time_per_response = @course.responses.average('seconds_taken').to_i %>
					<% weekly_response_count =  @course.weekly_response_count %>
					<%= weekly_response_count %> responses in 
					<%= weekly_response_count * time_per_response / 60 %> minutes
				</td>
			</tr>
			<tr>
				<td class="left">
					Average time taken for each response:
				</td>
				<td>
					<%= time_per_response %> seconds
				</td>
			</tr>
		</tbody>
	</table>

	<table>
		<thead>
			<tr>
				<td class="heading">
					Recent progress
				</td>
				<td>
					24 hours
				</td>
				<td>
					1 week
				</td>
				<td>
					4 weeks
				</td>
				<td>
					16 weeks
				</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="left">
					Correct responses (% of target)
				</td>
				<% [1,7,28, 126].each do |days| %>
					<% progress = @course.progress_for_period(days) %>
					<td>
						<%= number_with_delimiter progress[0] %>
						<div class="correct">
							<%= progress[1] %>
						</div>
					</td>
				<% end %>
			</tr>
		</tbody>
	</table>

	<% form_for @course do |f| %>
	<table>
		<tbody>
			<tr>
				<td class="heading">
					Weekly targets 
				</td>
				<td>
					Correct responses each lesson:  
					<%= f.text_field :lesson_target, :autocomplete => "off" %> 
				</td>
				<td>
					Lessons per week: 
					<%= f.text_field :weekly_target, :autocomplete => "off" %> 
				</td>
				<td>
					<%= f.submit "Update targets" %>
				</td>
			</tr>
			<tr>
				<td class="left" colspan="3">Estimated weekly time commitment</td>
				<td> 
					<%= 100 / 60 * time_per_response * @course.lesson_target * @course.weekly_target / accuracy_rate %> minutes
					
				</td>
			</tr>
		</tbody>
	</table>
	<% end %>
	
</div>

<div id="footer">
	<%= render :partial => 'global/toplevel_links' %>
</div>