
<div id="header">
	<h1 class="top-left pad">

		<%= link_to "Courses", courses_path %>
		&raquo; Automatic login
	</h1>
</div>
<div id="main" class="fixed-height">
	<div class="big-notice">
		<% if current_user %>
			<p class="space">Your unique ID is: <code><%= current_user.uid %></code></p>
			<p>Make a note of it and keep it safe.</p>
			<br>
			<p>In order to login automatically next time, drag this link: <%= link_to "RepeatCode login", '/u/' + current_user.uid %> to your browser's bookmark bar.</p>
			<br>
			<p><%= link_to 'Edit your details',  '/account' %></p>
		<% else %>
			You are not currently logged in.
		<% end %>
	</div>
</div>

<div id="footer">
	<%= render :partial => 'global/toplevel_links' %>
</div>