<% if current_user %>
	<div id="user">
		<% if current_user.login and not current_user.login.empty? %>
			Logged in as: <%= current_user.login %>
			&raquo; <%= link_to_unless_current "Edit", '/account' %>
		<% else %>
			Logged in: 
			<%= link_to_unless_current 'Save your details', '/account' %>
		<% end %>
	</div>
	<div id="navigation">
		<% if current_user.administrator %>
			<%= link_to_unless_current 'Admin', administrators_path %> |
		<% end %>
		<% if current_user.manager %>
			<%= link_to_unless_current 'Manage', managers_path %> |
		<% end %>
		<% if not current_user.tutor_groups.empty? %>
			<%= link_to_unless_current 'Teach', groups_path %> |
		<% end %>
		<%= link_to_unless_current 'Learn', :controller => 'courses', :action => 'index' %> |
		<% if current_user.login and not current_user.login.empty? %>
			<%= link_to_unless_current 'Create', :controller => 'subjects', :action => 'index' %> | 
		<% end %>
		<%= link_to_unless_current 'About', :controller => 'about', :action => 'faq' %> |
		<%= link_to_unless_current 'Logout', '/logout'%>
	</div>
<% else %>
	<div id="user">
		Not logged in
	</div>
	<div id="navigation">
		<%= link_to_unless_current 'About', '/about/faq' %> | 
		<%= link_to_unless_current 'Login', '/login' %>
	</div>
<% end %>
