<div id="header">
	<h1>
		Organizations
	</h1>
	<h2>
		<% form_for(@organization) do |f| %>
			<%= f.text_field :name, :autocomplete => "off"  %>
	 		<%= f.submit "Create new" %>
			<% end %>
	</h2>
</div>

<div id="main">
	<div class="xright">
		<br/>
	</div>

	<% for org in @organizations %>
	<div class="row">
		<div class="bold cell half">
				<%= org.name %>
		</div>
		<div class="bold cell quarter right">
				<%= link_to 'Add manager', organization_managers_path(org) %>
		</div>
		<div class="bold cell quarter right">
			<%= link_to 'Delete', org, :confirm => "WARNING! This will remove #{org.name} from the system. Do you really want to do this?", :method => :delete %>		</div>
	</div>
	<% end %>

	<div>
		<%= will_paginate @organizations %>
	</div>

</div>

<div id="footer">
	<%= render :partial => 'global/toplevel_links' %>
</div>
